.navbar img{
    position: absolute;
    width: 92px;
    height: 73px;
    left: 34px;
    top: 3px;

    background: url(ht.png);
    border-radius: 100px;
}

.navbar input{
    position: absolute;
    width: 398.89px;
    height: 40.87px;
    left: 520px;
    top: 20px;
    border-radius: 20px;
    border: none;
    padding: 4px;
}

.navbar ul li{
    position: absolute;
    width: 64.89px;
    height: 15.86px;
    left: 1280px;
    top: 34.31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}

.navbar{
    position: fixed;
    top: 0;
    width: 1364px;
    height: 80.44px;
    left: 0px;
    top: 0px;
    background: #7D7B7B;
}